<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		  http://www.springframework.org/schema/context
		  http://www.springframework.org/schema/context/spring-context-3.0.xsd
		  http://www.springframework.org/schema/util
		  http://www.springframework.org/schema/util/spring-util.xsd">

    <!-- 允许上传头像的格式-->
    <util:set id="allowHeadPicType" set-class="java.util.HashSet" value-type="java.lang.String">
        <value>image/gif</value>
        <value>image/jpg</value>
        <value>image/jpeg</value>
        <value>image/bmp</value>
        <value>image/png</value>
    </util:set>

</beans>